#container img {
  max-width: 100px;
  max-height: 100px;
  border-radius: 5px;
}
#container {
  width: 100px;
  height: auto;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
}
#container p {
  padding: 2px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
