@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Comfortaa&family=Josefin+Sans&family=Koulen&family=Neucha&family=Nova+Cut&family=Righteous&family=Roboto+Condensed:wght@300&family=Roboto+Serif:opsz,wght@8..144,300&family=Roboto:wght@300&family=Shadows+Into+Light&family=Teko:wght@300&display=swap');

body {
  margin: 0;
  overflow-x: hidden !important;
  font-family: 'Comfortaa', cursive ;
}

/*Header.css*/
.header {
  text-align: center;
  width: 100%;
}
.header img {
  width: 100%;
  height: 60px;
  object-fit: cover;
}

/*Product.css*/
#container img {
  max-width: 100px;
  max-height: 100px;
  border-radius: 5px;
}
#container {
  width: 100px;
  height: auto;
  text-align: center;
  font-weight: 700;
}
#container p {
  /* padding: 2px; */
  /* margin-block-start: 0em;
  margin-block-end: 0em; */
}

/* style.css */
.grid-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 24px;
  /* background-color: lemonchiffon; */
  /* max-width: fit-content; */
  /* align-items: end; */
  /* justify-items: center; */
}

.main-cover {
  max-width: 100%;
  /* background: lemonchiffon; */
  display: grid;
  grid-template-columns: 20% 72%;
}



/*Updated css*/
.box{
  width: 320px;
  /* object-fit: cover; */
}
.box:hover{
  box-shadow: 0px 0px 1px 0px #8a8a8a;
}
.wh{
  width: inherit;
  object-fit: contain;
}
.wh:hover{
  transform: scale(1); 
}
.cf{
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}